{% extends "base_generic.html" %}

{% block content %}

<h1 class="text-center" style="padding:5%;">Environmental Dashboard</h1>

<table class="table table-borderless table-hover">
    <tr>
        <thead class="thead-dark">
            <tr>
                <th scope="col" style="text-align:center;">Mode of Travel</th>
                <th scope="col" style="text-align:center;">Distance Avoided (Km)</th>
                <th scope="col" style="text-align:center;">Carbon Equivalent kg of CO2</th>
            </tr>
        </thead>
        <tbody>
            {% for travel_avoided, distance in activity_dict.items %}
            <tr>
                <td style="text-align:center;">{{travel_avoided}}</td>
                <td style="text-align:center;">{{distance}}</td>
                {% load portfolio_extras %}
                <td style="text-align:center;">{{emissions_dict|get_item:travel_avoided}}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot class="table-warning" style="border-top:2px solid black; border-bottom:2px solid black;">
            <tr>
                <td style="text-align:center;"><strong>TOTAL</strong></td>
                <td style="text-align:center;"><strong>{{total_distance}}km</strong></td>
                <td style="text-align:center;"><strong>{{total_emissions_saved}}kg</strong></td>
            </tr>
        </tfoot>
    </tr>
</table>

<div class="container-fluid" style="margin-top:4%;margin-bottom:2%;">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="card" style="background-color:#abebff;border:2px solid black;">
            <div class="card-body">
                {% load static %}
                <img src="{% static 'images/green.svg' %}" width="50" height="50" alt="environment">
                <br>
                <br>
                <h2>{{all_total_emissions_saved}}kg</h2>
                <p>in carbon emissions saved by users of the site.</p>
            </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card h-100" style="background-color:#fffca8;border:2px solid black;">
            <div class="card-body">
                {% load static %}
                <img src="{% static 'images/tokens.svg' %}" width="50" height="50" alt="tokens">
                <br>
                <br>
                <h2>More Life Tokens: {{MLT_tokens}}</h2>
                <small>(1 MLT Token per 10kg of carbon emissions saved)</small>
            </div>
        </div>
      </div>
    </div>
</div>

<div class="container-fluid" style="margin-top:1%;margin-bottom:10%;">
    <div class="row justify-content-center">
      <div class="col-md-9">
        <div class="card h-100" style="background-color:#fffca8;border:2px solid black;padding:2%;">
            <div class="card-body text-center">
                <h6>More Life Tokens may be bought, sold or retired by users on request at the More Life Pool Price subject to availablility.</h6>
                <br>
<!--                <a class="btn btn-success btn-lg" href="{% url 'token_buy' %}" role="button">Buy MLT</a>-->
<!--                <a class="btn btn-success btn-lg" href="{% url 'token_sell' %}" role="button">Sell MLT</a>-->
                <a class="btn btn-success btn-lg" href="#" role="button">Buy MLT</a>
                <a class="btn btn-success btn-lg" href="#" role="button">Sell MLT</a>
                <a class="btn btn-success btn-lg" href="{% url 'token_retire' %}" role="button">Retire MLT</a>
                <small>(Until the More Life Pool achieves a minimum size the buy and sell buttons are disabled)</small>
            </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card h-100" style="background-color:#abebff;border:2px solid black;">
            <div class="card-body">
                <h3 class="text-center"><strong>More Life Pool Price</strong></h3>
                <h2 class="text-center" style="border:solid black 2px; background-color:white;">£0.0001</h2>
                <small>(Per MLT)</small>
            </div>
        </div>
      </div>
    </div>
</div>



{% endblock %}