{% extends "base_generic.html" %}

{% block content %}

<h1 class="text-center" style="padding:2%;">Health Dashboard</h1>

<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-md-8">
            <div class="card h-100" style="background-color:#ffffe6;border:2px solid black;">
                <div class="card-body">
                    <h6 class="card-title text-center">Weekly Hours of Exercise</h6>
                    <canvas id="barChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row-fluid">
                <div class="card h-100" style="background-color:#ffffe6;border:2px solid black;">
                    <div class="card-body">
                        <h6 class="card-title text-center">Types of Exercise</h6>
                        <canvas id="pieChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="row-fluid mt-4">
                <div class="card h-100" style="background-color:#ffffe6;border:2px solid black;">
                    <div class="card-body">
                        {% load static %}
                        <img src="{% static 'images/runner.svg' %}" width="60" height="60" alt="exercise">
                        <br>
                        <br>
                        <h4><u>Amount of Exercise Completed</u></h4>
                        <br>
                        <h4>Total: <strong>{{cleaned_total_time}}</strong> hours</h4>
                        <hr>
                        <h4>Last 6 Months: <strong>{{total_hours_six_months}}</strong> hours</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4" style="padding:2%;">
        <div class="card" style="background-color:#fffca8;border:2px solid black;">
            <div class="card-body">
                <h6><strong>Think of your life account as being made up of a number of factors that can be measured. We choose to refer to them as 'Mobility', 'Longevity' and 'Wellbeing'. These factors will increase or decline in line with your sustainable activity levels. Your personal scores are recorded below.</strong></h6>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-4 h-100">
            <div class="card" style="background-color:#ffffe6;border:2px solid black;">
                <div class="card-body d-flex flex-column">
                    <h4 class="card-title text-center">Mobility</h4>
                    <br>
                    <br>
                    <div class="row justify-content-center text-center">
                        <div class="col-md-4 text-center">
                            <span style="display:inline-block;width:50px;height:50px;border:solid black;background-color:{% if mobility == 1 %}red{% elif mobility == 2 %}#fc5a03{% elif mobility == 3 %}orange{% elif mobility == 4 %}#fcbe03{% elif mobility == 5 %}yellow{% elif mobility == 6 %}#d2fc03{% elif mobility == 7 %}green{% elif mobility == 8 %}#1b6106{% elif mobility == 9 %}blue{% elif mobility == 10 %}#320f94{% elif mobility == 11 %}#885fd9{% else %}#d580ff{% endif %};"></span>
                        </div>
                    </div>
                    <div class="row mt-3 mb-5 justify-content-center text-center">
                        <div class="col-md-10 text-center my-auto">
                            <div class="row no-gutters">
                                <div class="col-md-2">
                                    1
                                </div>
                                <div class="col-md-8" style="border:1px black solid;background-image:linear-gradient(to right,red,orange,yellow,green,blue,indigo,violet);">

                                </div>
                                <div class="col-md-2">
                                    12
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <p class="mt-auto">Exercising maintains muscle strength and flexibility enabling a fuller and more active life at all ages. Our color graph reflects your level of expected mobility given the types and amount of activity you have performed.</p>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card h-100" style="background-color:#ffffe6;border:2px solid black;">
                <div class="card-body d-flex flex-column">
                    <h4 class="card-title text-center">Longevity</h4>
                    <br>
                    <div class="d-flex justify-content-center">
                        {% load portfolio_extras %}
                        <div style="width:{{longevity_radius|add:100}}px;height:{{longevity_radius|add:100}}px;border-radius:50%;background:#5ea303;position:relative;">
                            <div style="top:0%;left:{{longevity_radius|div:4}}%;width:100px;height:100px;border-radius:50%;background:#c7c7c7;position:relative;text-align:center;line-height:100px;border:2px solid black;">{{longevity_expected}}</div>
                        </div>
                    </div>
                    <p class="mt-auto">Life expectancy is based on several factors but personal health is a core factor. As a result, we can expect our life expectancy to grow as we perform more exercise. We illustrate through an expansion in the size of the above initial life expectancy circle to the larger green circle.</p>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card h-100" style="background-color:#ffffe6;border:2px solid black;">
                <div class="card-body d-flex flex-column">
                    <h4 class="card-title text-center">Wellbeing</h4>
                    <br>
                    <br>
                    <h2 class="text-center">{{wellbeing}}%</h2>
                    <div class="progress" style="border:1px solid black;">
                        <div class="progress-bar" role="progressbar" style="width:{{wellbeing}}%;background-color:blue;" aria-valuenow="{{wellbeing}}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p class="mt-auto">Exercise produces endorphines that help lower stress and together with overall fitness our sense of wellbeing. You can see your measure of overall wellbeing increase or decline in line with sustained activity levels.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

var ctx = document.getElementById('barChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{weeks|safe}},
        datasets: [{
            label: 'Monthly hours of exercise',
            data: {{weekly_exercise_time|safe}},
            backgroundColor: "rgb(93,48,191)",
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                },
                gridLines: {
                    display: true
                }
            }],
            xAxes: [{
                ticks: {
                    autoSkip: false,
                    maxRotation: 90,
                    minRotation: 90
                },
                gridLines: {
                    display: false
                }
            }]
        },
        legend: {display: false}
    }
});

</script>

<script>

function getRandomColor() {
            var letters = '0123456789ABCDEF'.split('');
            var color = '#';
            for (var i = 0; i < 6; i++ ) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
}

var colors = [];
var num_labels = {{ activities_performed|safe }}
for(let i=0;i<num_labels.length;i++) {
    colors.push(getRandomColor());
}

var ctx_2 = document.getElementById('pieChart').getContext('2d');
var chart_2 = new Chart(ctx_2, {
    // The type of chart we want to create
    type: 'pie',

    // The data for our dataset
    data: {
        labels: {{ activities_performed|safe }},
        datasets: [{
            backgroundColor: colors.slice(0,-1),
            data: {{ time_performed|safe }}
        }]
    },

    // Configuration options go here
    options: {
        legend: { display: true }
    }
});

</script>

{% endblock %}