{% extends "base_generic.html" %}

{% block content %}

<div class="container" style="margin-left:5%;margin-top:5%;margin-bottom:10%;">
  <h2>Update Profile</h2>
    <form action="" method="post">
      {% csrf_token %}
      {% for field in form %}
        <p>
          {{ field.label_tag }}<br>
          {{ field }}
          {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        </p>
      {% endfor %}
      <button type="submit" class="btn btn-success">Update</button>
    </form>
</div>

{% endblock %}

