{% extends "base_generic.html" %}

{% block content %}
  <div class="text-center" style="padding:5%;">
    <div class="container-fluid text-center">
      <h1 class="display-4">About This Site</h1>
      <div class="card w-100 bg-light mt-4" style="padding:3%;">
        <div class="card-body text-left" style="padding:2%;">
          <h5 class="lead"><strong><u>Life Account</u></strong></h5>
          <p>If we were to list the things we should most value  - other than friends and family, close to the top of that list might come - a longer, healthier life; or a viable environment with air we can breath and food to eat. Yet we take these for granted.</p>
          <p>Science has done much to extend life and health through medicines, vaccines, and improved healthcare. Environmental policy has also led to greater awareness of the dangers of climate change and implementation of measures to reduce emissions.</p>
          <p>The ultimate responsibility however, for self health,  longer life and wellbeing along with an improved environment for ourselves and those around us, lies with each of us as individuals.</p>
          <p>Not only can we extend our lives, improve health and protect our environment,  but by simple actions we can accumulate wealth in order to enjoy these increased years of life and mobility leading to a greater sense of wellbeing.</p>
          <p>By measuring activity and linking this to health and environmental benefit and combing this with improved wealth we provide the incentive to do more to take action in our own interests and in the interests of others.</p>
          <p>If done on a regular basis (say once or twice a week) even a simple walk to school (rather than driving) a cycle to work (rather than bus or train) or a yoga session at home (rather than a mid afternoon snack) can all improve our health, mobility, wellbeing and our bank balance.</p>
          <p>Similarly whilst a walk or cycle may avoid the associated carbon output of a car or train not every activity will involve exercise and there are ways of reducing our carbon footprint such as a carshare or alternative venue that may generate a real reduction in carbon output.</p>
          <p>This application provides a means to record and measure these additional actions and the potential impact on our life, environment and bank balance.</p>
          <p>For each 10kg of carbon equivalent saved with the accompanying financial offset being transferred to your account, in addition to the increasing balance on your account, you receive 1 More Life Token (“MLT”). This is simply a record of your carbon offset. This does not have any independent value but over time may be recognised as a way for individuals, companies and employers to reduce the carbon output of their businesses and balance their carbon footprint. If these off sets can be recognised in a distributed ledger tokenised form the tokens could be separately traded.</p>
          <p>The site allows you to simply add the savings to your own dedicated account or send to a central account to be held on your behalf. The indicative portfolio references simply shows what would have happened to these amounts if invested in a sample health tech or enviro tech portfolio.</p>
          <p>Amounts held on the account on your behalf will not bear interest but may be used to provide members a bonus for time of membership as well as being applied to administrative costs. Initial members at 31st March will receive a bonus of 20% on their balance at such date.</p>
          <p>The actual outcomes depend on a wide range of factors which it is not possible to capture with the limited information available on individuals on this site but we aim to provide an indicative direction of the benefits as supported by a large number of studies to incentivise positive action for a better life outcome.</p>
          <p>The relationship between exercise and life benefits and the calculation of carbon offsets will be refined and changed over time as more studies are concluded and more direct information is available.</p>
          <p>The above content is simply a means of recording activity and an incentive for active exercise and carbon footprint awareness and should not be considered as an investment or investment advice.</p>
          <p>Try the site and let us know if it works for you. We welcome feedback to further improve and develop the information that enables you to benefit your life and environment!</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}