{% extends "base_generic.html" %}

{% block content %}

<div class="container-fluid" style="position:relative;display:inline-block;z-index:999;margin-top:0%;margin-left:0%;right:0;top:40%;text-align:center;width:100%">
  {% load static %}
  <img src="{% static 'images/bikes.JPG' %}" alt="bike" style="width:100%;">

  <div style="padding:3%;position:absolute;z-index:999;margin:0 auto;left:0;right:0;top:5%;text-align:left;width:90%;background-color:white;">
      <h1 class="display-4 text-left">Life Account</h1>
      {% if user.is_authenticated %}
        <br>
        <h4 class="lead">Hello {{user.get_short_name}}!</h4>
        <h4 class="lead">Make use of the navigation bar above to add activities, make payments or withdrawals and view you health, wealth and environmental dashboard. If you need help using the site navigate to the 'Help' page. Alternatively, to learn more about what the site hopes to achieve click on the 'About' button in the navbar.</h4>
      {% else %}
        <br>
        <h4 class="lead">Please login to add activities and improve your health, wealth and environmental impact!</h4>
      {% endif %}
  </div>

</div>


{% endblock %}